@charset "ISO-8859-1";
#login-form{
	margin: auto;
	height:200px;
	width: 500px;
	background-color: #b2e0eb;
	box-shadow: 5px 5px 20px 20px #bab8b8;
	border:1px solid grey;
}

#login-form form{
	text-align: center;
	width: 100%;
}
